.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.color\:f\:navy {
  color: #001f3f;
}

.color\:f\:blue {
  color: #0074D9;
}

.color\:f\:aqua {
  color: #7FDBFF;
}

.color\:f\:teal {
  color: #39CCCC;
}

.color\:f\:glive {
  color: #3D9970;
}

.color\:f\:green {
  color: #2ECC40;
}

.color\:f\:lime {
  color: #01FF70;
}

.color\:f\:yellow {
  color: #FFDC00;
}

.color\:f\:orange {
  color: #FF851B;
}

.color\:f\:red {
  color: #FF4136;
}

.color\:f\:maroon {
  color: #85144b;
}

.color\:f\:fuchsia {
  color: #F012BE;
}

.color\:f\:purple {
  color: #B10DC9;
}

.color\:f\:black {
  color: #111111;
}

.color\:f\:gray {
  color: #AAAAAA;
}

.color\:f\:silver {
  color: #DDDDDD;
}

.color\:f\:white {
  color: #FFFFFF;
}

.color\:b\:navy {
  background-color: #001f3f;
}

.color\:b\:blue {
  background-color: #0074D9;
}

.color\:b\:aqua {
  background-color: #7FDBFF;
}

.color\:b\:teal {
  background-color: #39CCCC;
}

.color\:b\:glive {
  background-color: #3D9970;
}

.color\:b\:green {
  background-color: #2ECC40;
}

.color\:b\:lime {
  background-color: #01FF70;
}

.color\:b\:yellow {
  background-color: #FFDC00;
}

.color\:b\:orange {
  background-color: #FF851B;
}

.color\:b\:red {
  background-color: #FF4136;
}

.color\:b\:maroon {
  background-color: #85144b;
}

.color\:b\:fuchsia {
  background-color: #F012BE;
}

.color\:b\:purple {
  background-color: #B10DC9;
}

.color\:b\:black {
  background-color: #111111;
}

.color\:b\:gray {
  background-color: #AAAAAA;
}

.color\:b\:silver {
  background-color: #DDDDDD;
}

.color\:b\:white {
  background-color: #FFFFFF;
}

.border-none {
  border: 0;
}

.border\:1\:hidden {
  border-width: 1px;
  border-style: hidden;
}

.border\:2\:hidden {
  border-width: 2px;
  border-style: hidden;
}

.border\:3\:hidden {
  border-width: 3px;
  border-style: hidden;
}

.border\:4\:hidden {
  border-width: 4px;
  border-style: hidden;
}

.border\:5\:hidden {
  border-width: 5px;
  border-style: hidden;
}

.border\:6\:hidden {
  border-width: 6px;
  border-style: hidden;
}

.border\:7\:hidden {
  border-width: 7px;
  border-style: hidden;
}

.border\:8\:hidden {
  border-width: 8px;
  border-style: hidden;
}

.border\:9\:hidden {
  border-width: 9px;
  border-style: hidden;
}

.border\:10\:hidden {
  border-width: 10px;
  border-style: hidden;
}

.border\:1\:navy\:dotted {
  border: 1px dotted #001f3f;
}

.border\:1\:navy\:dashed {
  border: 1px dashed #001f3f;
}

.border\:1\:navy\:solid {
  border: 1px solid #001f3f;
}

.border\:1\:navy\:double {
  border: 1px double #001f3f;
}

.border\:1\:navy\:groove {
  border: 1px groove #001f3f;
}

.border\:1\:navy\:ridge {
  border: 1px ridge #001f3f;
}

.border\:1\:navy\:inset {
  border: 1px inset #001f3f;
}

.border\:1\:navy\:outset {
  border: 1px outset #001f3f;
}

.border\:2\:navy\:dotted {
  border: 2px dotted #001f3f;
}

.border\:2\:navy\:dashed {
  border: 2px dashed #001f3f;
}

.border\:2\:navy\:solid {
  border: 2px solid #001f3f;
}

.border\:2\:navy\:double {
  border: 2px double #001f3f;
}

.border\:2\:navy\:groove {
  border: 2px groove #001f3f;
}

.border\:2\:navy\:ridge {
  border: 2px ridge #001f3f;
}

.border\:2\:navy\:inset {
  border: 2px inset #001f3f;
}

.border\:2\:navy\:outset {
  border: 2px outset #001f3f;
}

.border\:3\:navy\:dotted {
  border: 3px dotted #001f3f;
}

.border\:3\:navy\:dashed {
  border: 3px dashed #001f3f;
}

.border\:3\:navy\:solid {
  border: 3px solid #001f3f;
}

.border\:3\:navy\:double {
  border: 3px double #001f3f;
}

.border\:3\:navy\:groove {
  border: 3px groove #001f3f;
}

.border\:3\:navy\:ridge {
  border: 3px ridge #001f3f;
}

.border\:3\:navy\:inset {
  border: 3px inset #001f3f;
}

.border\:3\:navy\:outset {
  border: 3px outset #001f3f;
}

.border\:4\:navy\:dotted {
  border: 4px dotted #001f3f;
}

.border\:4\:navy\:dashed {
  border: 4px dashed #001f3f;
}

.border\:4\:navy\:solid {
  border: 4px solid #001f3f;
}

.border\:4\:navy\:double {
  border: 4px double #001f3f;
}

.border\:4\:navy\:groove {
  border: 4px groove #001f3f;
}

.border\:4\:navy\:ridge {
  border: 4px ridge #001f3f;
}

.border\:4\:navy\:inset {
  border: 4px inset #001f3f;
}

.border\:4\:navy\:outset {
  border: 4px outset #001f3f;
}

.border\:5\:navy\:dotted {
  border: 5px dotted #001f3f;
}

.border\:5\:navy\:dashed {
  border: 5px dashed #001f3f;
}

.border\:5\:navy\:solid {
  border: 5px solid #001f3f;
}

.border\:5\:navy\:double {
  border: 5px double #001f3f;
}

.border\:5\:navy\:groove {
  border: 5px groove #001f3f;
}

.border\:5\:navy\:ridge {
  border: 5px ridge #001f3f;
}

.border\:5\:navy\:inset {
  border: 5px inset #001f3f;
}

.border\:5\:navy\:outset {
  border: 5px outset #001f3f;
}

.border\:6\:navy\:dotted {
  border: 6px dotted #001f3f;
}

.border\:6\:navy\:dashed {
  border: 6px dashed #001f3f;
}

.border\:6\:navy\:solid {
  border: 6px solid #001f3f;
}

.border\:6\:navy\:double {
  border: 6px double #001f3f;
}

.border\:6\:navy\:groove {
  border: 6px groove #001f3f;
}

.border\:6\:navy\:ridge {
  border: 6px ridge #001f3f;
}

.border\:6\:navy\:inset {
  border: 6px inset #001f3f;
}

.border\:6\:navy\:outset {
  border: 6px outset #001f3f;
}

.border\:7\:navy\:dotted {
  border: 7px dotted #001f3f;
}

.border\:7\:navy\:dashed {
  border: 7px dashed #001f3f;
}

.border\:7\:navy\:solid {
  border: 7px solid #001f3f;
}

.border\:7\:navy\:double {
  border: 7px double #001f3f;
}

.border\:7\:navy\:groove {
  border: 7px groove #001f3f;
}

.border\:7\:navy\:ridge {
  border: 7px ridge #001f3f;
}

.border\:7\:navy\:inset {
  border: 7px inset #001f3f;
}

.border\:7\:navy\:outset {
  border: 7px outset #001f3f;
}

.border\:8\:navy\:dotted {
  border: 8px dotted #001f3f;
}

.border\:8\:navy\:dashed {
  border: 8px dashed #001f3f;
}

.border\:8\:navy\:solid {
  border: 8px solid #001f3f;
}

.border\:8\:navy\:double {
  border: 8px double #001f3f;
}

.border\:8\:navy\:groove {
  border: 8px groove #001f3f;
}

.border\:8\:navy\:ridge {
  border: 8px ridge #001f3f;
}

.border\:8\:navy\:inset {
  border: 8px inset #001f3f;
}

.border\:8\:navy\:outset {
  border: 8px outset #001f3f;
}

.border\:9\:navy\:dotted {
  border: 9px dotted #001f3f;
}

.border\:9\:navy\:dashed {
  border: 9px dashed #001f3f;
}

.border\:9\:navy\:solid {
  border: 9px solid #001f3f;
}

.border\:9\:navy\:double {
  border: 9px double #001f3f;
}

.border\:9\:navy\:groove {
  border: 9px groove #001f3f;
}

.border\:9\:navy\:ridge {
  border: 9px ridge #001f3f;
}

.border\:9\:navy\:inset {
  border: 9px inset #001f3f;
}

.border\:9\:navy\:outset {
  border: 9px outset #001f3f;
}

.border\:10\:navy\:dotted {
  border: 10px dotted #001f3f;
}

.border\:10\:navy\:dashed {
  border: 10px dashed #001f3f;
}

.border\:10\:navy\:solid {
  border: 10px solid #001f3f;
}

.border\:10\:navy\:double {
  border: 10px double #001f3f;
}

.border\:10\:navy\:groove {
  border: 10px groove #001f3f;
}

.border\:10\:navy\:ridge {
  border: 10px ridge #001f3f;
}

.border\:10\:navy\:inset {
  border: 10px inset #001f3f;
}

.border\:10\:navy\:outset {
  border: 10px outset #001f3f;
}

/*# sourceMappingURL=HelperCSS.css.map */
