@use "sass:string"
  
// Convert String to List
@function str-split($string, $separator)
    // empty array/list
    $split-arr: ()
    // first index of separator in string
    $index : str-index($string, $separator)
    // loop through string
    @while $index != null
        // get the substring from the first character to the separator
        $item: str-slice($string, 1, $index - 1)
        // push item to array
        $split-arr: append($split-arr, $item)
        // remove item and separator from string
        $string: str-slice($string, $index + 1)
        // find new index of separator
        $index : str-index($string, $separator)

    // add the remaining string to list (the last item)
    $split-arr: append($split-arr, $string)

    @return $split-arr

// Convert String to Number
@function str-to-number($string)
  // Matrices
  $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9'
  $numbers: 0 1 2 3 4 5 6 7 8 9

  // Result
  $result: 0

  // Looping through all characters
  @for $i from 1 through str-length($string)
    $character: str-slice($string, $i, $i)
    $index: index($strings, $character)

    @if not $index
      // Do nothing
    @else 
      $number: nth($numbers, $index)
      $result: $result * 10 + $number

  @return $result

// Check if string has subject string
@function str-has($string , $subject)
  @if string.length($string) != 0 and string.index($string , $subject) != null and string.index($string , $subject) > 0
    @return true
  
  @return false

// Convert argument string to array
@function get-arguments($string , $seprator : ':')
  @if string.length($string) != 0
    @return str-split($string , $seprator)

  @return false

// Replace strings
@function str-replace($string, $search, $replace : '')
  $index: str-index($string, $search)
  @if $index
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)
  @return $string

// Remove number from a value and return units
@function get-units($number)
  $value : str-to-number($number)
  @return str-replace("#{$number}" , "#{$value}")