@use "sass:list"
@use "sass:map"
@use "sass:string"

@import "../variables/index"
@import "../functions/index"

// Vertical align
=v-align($s)
    vertical-align: #{$s} !important

// Border radius
=border-radius($s : '')
  $list : get-arguments($s)
  $response : $radius
  $has_unit : true
  $has_corner : false
  @if $list != false
    $last_arg : list.nth($list , -1)
    @each $c , $cc in $corners
      @if $c == $last_arg
        $has_unit : false
    @if $has_unit
      $units : get-units($last_arg)
      @if $units == 'x'
        $response : str-to-number($last_arg) * $radius
      @else 
        $response : #{$last_arg}
    @each $c , $cc in $corners
      @if str-has($s , "#{$c}")
        $has_corner : true
        border-#{$cc}-radius: $response !important
  @if $list == false or $has_corner == false
    border-radius: $response !important
  
// Color
=color($s)
    $list : str-split($s)
    $c : map.get($colors-map , list.nth($list , 2))
    $fb : list.nth($list , 1)
    @if $fb == 'f'
        color: #{$c} !important
    @else if $fb == 'b'
        background-color: #{$c} !important

=border($s)
    $list : str-split($s , ':')
    $prop : 'border'
    $ss : ''
    $w : ''
    $c : ''
    $t : ''
    @if list.nth($list , 1) != 'null'
        $ss : list.nth($list , 1)
        $prop : "#{$prop}-#{$ss}"
    @if list.nth($list , 2) != 'null'
        $w : list.nth($list , 2)
        $w : "#{$w}px"
    @if list.nth($list , 3) != 'null'
        $c : list.nth($list , 3)
    @if list.nth($list , 4) != 'null'
        $t : list.nth($list , 4)
    #{$prop}: #{$w} #{$c} #{$t} !important